@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

h1 {
    font-weight: 500;
    font-size: 36pt;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/* header */
header {
    background: linear-gradient(to right, #aedfff, white, #ffd6cc);
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    border-bottom: var(--main-color) 2px solid;
    padding: 24pt;
    overflow-x: hidden !important;
}

header h1 {
    text-align: start;
}

header img {
    height: 240.01pt;
}

header .about-book {
    width: 360.01pt;
}

header .header-links {
    display: flex;
    flex-wrap: wrap;
    gap: 12pt;
    padding: 12pt 0;
}

header .header-links a {
    color: white;
    padding: 6pt 12pt;
    background-color: #6d6d6d80;
    border-radius: 2.4pt;
    transition: 0.1s;
}

header .header-links a:hover {
    opacity: 90%;
}

header .header-links a:first-child {
    background-color: #ff7e5f;
}

/* video section */
.video-section {
    position: relative;
    padding-bottom: 39.375%;
    width: 70%;
    margin: 24pt auto;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: #ff7e5f 5px solid;
}

/* purchase section */
.purchase-section {
    background-color: #dff3ff;
    border-radius: 12pt;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12pt;
}

.purchase-methods {
    display: flex;
    flex-wrap: wrap;
    gap: 12pt;
    width: 100%;
    justify-content: space-evenly;
    margin: 24pt 0;
}

.purchase-methods .method {
    display: flex;
    flex-direction: column;
    gap: 24pt;
    justify-content: end;
    align-items: center;
    padding: 24pt;
    border-radius: 12pt;
}

.purchase-methods img {
    height: 48pt;
    object-fit: cover;
}

.purchase-methods a {
    color: white;
    padding: 6pt 12pt;
    background-color: #ff3838;
    border-radius: 2.4pt;
    transition: 0.1s;
}

.purchase-methods a:hover {
    opacity: 90%;
}

/* biography section */
#biography {
    background: linear-gradient(to right, #cdebff, #ffb8b894, #4681ffc2);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* custom sections */
.custom-section {
    position: relative;
    border-radius: 12pt;
    text-align: center;
    width: 70%;
    margin: 24pt auto;
    padding: 12pt;
    display: flex;
    flex-direction: column;
    gap: 12pt;
    color: #000000;
}

.custom-section p {
    background-color: #ffffff85;
    padding: 12pt;
    border-radius: 12pt;
    word-spacing: 2.4pt;
    letter-spacing: 0.6pt;
    font-size: 12pt;
}

.custom-section span {
    opacity: 50%;
    font-size: 10.8pt;
}

.custom-section .contact-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12pt;
    padding: 12pt 0;
    justify-content: center;
}

.custom-section .contact-buttons a {
    color: white;
    padding: 6pt 24pt;
    background-color: #ff3838;
    border-radius: 2.4pt;
    transition: 0.1s;
}

.custom-section .contact-buttons a:hover {
    opacity: 90%;
}

/* footer */
footer {
    background-color: #000000dc;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 60pt 12pt;
    width: 100%;
}

footer img {
    height: 120pt;
}

/* social buttons */
.icon-button {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 40pt;
    box-shadow: 0px 0px 5px #ddd;
    cursor: pointer;
    display: inline-block;
    font-size: 20pt;
    height: 40pt;
    line-height: 40pt;
    margin: 0px 20px;
    margin-top: 55px;
    margin-bottom: 55px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40pt;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 40pt;
    height: 40pt;
    border-radius: 40pt;
    margin: -20pt;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}

.linkedin span {
    background-color: #0077b5;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 40pt;
    left: 0;
    line-height: 40pt;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    width: 40pt;
    z-index: 10;
}

.icon-button .fa-twitter {
    color: #4199ff;
}

.icon-button .fa-facebook {
    color: #3c5998;
}

.icon-button .icon-google-plus {
    color: #db5a3c;
}

.icon-button .fa-linkedin {
    color: #0077b5;
}

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-linkedin,
.icon-button:hover .icon-google-plus {
    color: white;
}

/* mobile compability */
@media screen and (max-width: 977px) {
    header {
        text-align: center;
    }

    .header-links {
        justify-content: center;
    }

    header h1 {
        text-align: center;
    }

    .custom-section {
        width: 95%;
    }
}